@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap');

body {
    margin: 0; 
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    text-align: center;
   line-height: 1.5;

   }

.container{
    text-align: center;
}

.sfondo{
    padding:  150px 10px ;
    background-image: url(./../img/banner.jpg);
    background-size: cover;          
}

h1, p{
    text-align: center;
    
}

.contenitorelogo{
    background-color: black;
    width: 100%;
    padding: 2rem 0;
    
}

.bottonepartiamo {
    background-color: #f34b2d;
    padding: 14px;
    color: white;
    border-radius: 4px;
    text-decoration: none;
}
.garanzie{
    background-color: orangered;
    color: white;
}

h3{
  color:   #25a2c3;
}

.primobox{
    border: 0.5px solid grey;
    width: 90%;
    margin: 0 auto;

   
}
.primobox img{
    width: 100%;
    
}

.notebook img{
    border-radius: 100%;
    width: 50%;
    margin: 1em auto;
}
h1{
    color:   #25a2c3;
}

b{
    color: black;
}
#footer{
    background-color: #25a2c3;
}

b{
    color: white;
}
address,a{
    color: white;
}
